* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccbc4;
    height: 100vh;
}

.calculator-body {
    height: 700px;
    width: 550px;
    background-color: #283554;
    border: 0px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.screen {
    background-color: #6b876d;
    height: 120px;
    margin: 25px;
    border: 1px solid black;
    border-radius: 15px;
}

