@font-face {
    font-family: "Orbitron";
    src: url('../fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccbc4;
    height: 100vh;
    font-family: "Orbitron";
}

.calculator-body {
    height: 500px;
    width: 650px;
    background-color: #283554;
    border: 0px solid black;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.screen-container {
    display: flex;
}

.screen {
    background-color: #6b876d;
    height: 120px;
    width: 450px;
    margin: 25px;
    border: 0px solid black;
    border-radius: 15px;
}

.info {
    height: 120px;
    width: 200px;
    margin: 25px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 30px;
    color: #e6e6e6;
}

.author {
    font-size: 15px;
    color: #e36d94;
    margin-top: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 330px;
    padding: 8px;
    padding-top: 0px;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1 1 auto;
}

.button-div {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 90px;
    height: 50px;
    background-color: #e6e6e6;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Orbitron";
}

#del,
#ac {
    background-color: #4256db;
    color: white;
}

#equal {
    width: 218px;
}